@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.bg-gradient-animated {
    background: linear-gradient(270deg, #695d5c, #dcb0ff, #6fdfdf, #ffbc00);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes logoAnimation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes logoPulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-logo {
    animation: logoAnimation 10s linear infinite,
        logoPulse 2s ease-in-out infinite;
}
